<html>
<head>
    <title>Dillon's Sexy Hair</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../styles.css">
</head>
    <body>
        <div class="container">

            <img src="/../salon.jpg" style='position:fixed; top:0px; left:0px; height:100%; z-index:-1;'>

            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <h1><center>Dillon's Sexy Hair Salon!</center></h1>
                <h3><center>a word of wild hair arousal...</center></h3>
                <hr>

                <h2><center>{{ stylist.getName }}'s clients:</center></h2>

                {% if clients is not empty %}
                    <h4>Here are the clients:</h4>
                    <ul>
                        {% for client in clients %}
                            <li>{{ client.getDescription }}</li>
                            <ul>
                                <p>scheduled appointment:</p>
                                <p>{{ client.getAppointment }}</p>
                            </ul>
                            <p>
                                <form action="/client/{{ client.getId }}/edit" method="get">
                                    <button type="submit" class="btn-danger">Edit Client</button>
                                </form>
                                <form action="/client_deleted/{{ client.getId }}" method="post">
                                    <input name="_method" type="hidden" value="delete">
                                    <button type="submit" class="btn-danger">Delete Client</button>
                                </form>
                            </p>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h4>Add a new client:</h4>

                <ul>
                    <form action="/clients" method="post">
                        <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
                        <label for="description">Client's Name - </label>
                        <input id="description" name="description" type="text"
                            placeholder="Sally Longhair">
                        <br>
                        <label for="appointment">Appointment Date - </label>
                        <input id="appointment" name="appointment" type="date">
                        <br>

                        <button type="submit" class="btn-danger">Add Client</button>
                    </form>
                </ul>

                <h4>Edit {{ stylist.getName }}'s details:</h4>

                <ul>
                    <form action="/stylists/{{ stylist.getId }}/edit" method="get">
                        <button type="submit" class="btn-danger">Edit name</button>
                    </form>

                    <form action="/stylist_deleted/{{ stylist.getId }}" method="post">
                        <input name="_method" type="hidden" value="delete">
                        <button type="submit" class="btn-danger">Delete stylist</button>
                    </form>
                </ul>

                <br>
                <hr>

                <center>
                    <form action="/" method="get">
                        <button type="submit" class="btn-danger">Return Home!</button>
                    </form>
                    <form action="/deleted_clients" method="post">
                        <button type="submit" class="btn-danger">Delete All Clients!</button>
                    </form>
                    <form action="/deleted_stylists" method="post">
                        <button type="submit" class="btn-danger">Erase All Stylists!</button>
                    </form>
                </center>

            </div>
            <div class="col-sm-2"></div>

        </div>
    </body>
</html>
